* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IRANSansMobile-fa, -apple-system, BlinkMacSystemFont",
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }
.header {
    background-color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    padding-bottom:22px ;
    padding-top: 22px;
    direction: rtl;
}
.header *{
    text-decoration: none;
    margin-right: 23px;
    margin-top: 8px;
    vertical-align: middle;
}
.menu li a {
    font-family: IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(63, 63, 63);
    font-size: 16px;
}
.menu li{
    display: inline-block;
    margin: 0;
}
#snapp-logo {
    padding-right: 100px ;
}
#snapp-logo img{
    width: 90px;
    padding-bottom: 10px;
}
body{
    margin: 0;
}
/* sec2>main>banner {START} */
#login{
    margin-top: 100px;
    display: flex;
    width: 100%;
}
#login>img{
    width: 50%;
}
#login>div{
    width: 50%;
    background-color: rgb(33, 170, 88);
}
#login-box{
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:15px 0 0 40px;
}
#login-box *{
    direction: rtl;
    font-family:  IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
}
#login-box h1{
    font-size: 32px;
    margin: 0;
    margin-bottom:30px ;
    padding: 0;
}
#login-box p{
    font-size: 15px;
    font-weight: 300;
}
#login-input-box{
    display: flex;
}
#login input{
    width: 120px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color:rgb(33, 170, 88) ;
    width: 210px;
    margin-left: 10px;
    text-align: right;
}
#login input::placeholder{
  color: white;
}
#login-input-box button{
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color:rgb(33, 170, 88) ;
}
#login-box>button{
    width: 220px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color:rgb(33, 170, 88) ;
    height: 40px;
    font-size: 18px;
    margin-left: 140px;
    margin-top: 13px;
}
/* sec2>main>donApp{start} */
.snapp-version img{
    width:160px ;
    vertical-align: middle;
}
.snapp-version{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 110px 0 ;
    align-items:center ;
}
/*  finish */

  
  /* in ghesmat secttion asli ke tamami option ha va onvan haye snap dar an ghara gerefte,in section ra be tedadi div taghsim kardim va css haye lazem ra be kar bordim
  agar soali dashtid dar discord pasokh goye shoma hastim  ( OMEGA TEAM) 
  PRODOCT BY ((SEAWOLF))*/
  .section-apps {
    height: 1000px;
    background-color: #f2f5f8;
    direction: rtl;
  }
  .top-text h2 {
    font-size: 36px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 35px;
    text-align: center;
    color: #3f3f3f;
  }
  .s-father {
    display: flex;
    justify-content: center;
  }
  .snap-apps {
    max-width: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    height: 700px;
  }
  .market-i,
  .express-i,
  .in-fly-i,
  .bime-i {
    width: 52px;
  }
  .snap-apps div a {
    text-decoration: none;
  }
  .snap-apps div a h4 {
    color: #0d0c0c;
  }
  
  .snap-apps div {
    background: #fff;
    width: 290px;
    height: 95px;
    border-radius: 15px;
    position: relative;
  }
  .snap-apps img {
    position: absolute;
    bottom: 15px;
    margin-right: 7px;
    width: 60px;
    height: 60px;
  }
  .snap-apps div a p,
  h4 {
    margin-right: 70px;
    padding: 3px;
    font-size: 14px;
    color: #a3a3a3;
  }
  .snap-apps div a h4 {
    margin-top: 20px;
  }
  /* payane section snap-apps */
  /* statrt snapp option */
/*slide-show*/

/* css.slider */
.container {
  
  height: 270px;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 9px;
  position: relative;

}


.navigator {
  display: flex;
  position: absolute;
  top: 93%;
  left: 45.1%;
}

.navigator .bar {
  height: 8px;
  width: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-left: 8px;
}

.navigator .bar:hover {
  background: #060000;
}

input[name="common"] {
  position: absolute;
  visibility: hidden;
}

.slides {

  display: flex;
  height: 270px;
  width: 400%;
}

.slide {
  width: 25%;
  transition: 0.4s ease;
}

.slides img {
  width: 100%;
  height: 100%;
}

#btn1:checked~.first {
  margin-left: 0;
}

#btn2:checked~.first {
  margin-left: -25%;
}

#btn3:checked~.first {
  margin-left: -50%;
}

#btn4:checked~.first {
  margin-left: -75%;
}

/* css slider */
.snap-option{
  margin-top: 5%;
  
 
}
.main-s-o{
  margin-top: 4%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 100;
}
.right-s-o{
  width: 50%;
  height: 400px;
}
.right-s-o img{
  width: 100%;
  height: 100%;
}
.left-s-o{
  display: flex;
  flex-direction: column;
  text-align:right;
  width: 50%;
  height: 400px;
  gap: 20;
}
.left-s-o pre{
  font-family: IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-top: 2%;
  margin-right: 5%;
  color: rgb(63, 63, 63);
  line-height:30px;
}
.left-s-o h2{
  font-size: 20px;
  margin-top: 2%;
  margin-right: 5%;
  color: rgb(63, 63, 63);
  line-height:30px;
}
.down-s-o{
  z-index: 2000;
  height:300px;
  direction: rtl;
  display: flex;
  justify-content:center;
  box-sizing: border-box;
  margin-top:-5%;
  padding-left: 12%;
}

.down-s-o #easy,#fast,#eco{
  margin-right: 13%;
  
}
.down-s-o p{
  font-weight: bold;
}
.down-s-o pre{
  text-align:justify;
  font-size:13px;
  line-height: 25px;
  
}
.down-s-o img{
  border-radius: 13px;
  background:#f2f5f8;
}
/* end snapp option */
/* start join snapp p1 by */
.join-snapp{
  font-size: 24px;
  font-family: IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  direction: rtl;
  background-color: #f2f5f8;
  padding-bottom: 30px;
  padding-top: 35px;
}
.join-snapp p{
  font-size: 18px;
  color: black;
  font-size: 22px;
  margin-bottom: 40px;
  padding-top: 15px;
  
}
.join-snapp button{
padding: 10px 30px;
background-color: rgb(0, 209, 112);
border-radius: 8px;
margin: 12px0px 45px 0px;
color: white;
font-size: 20px;
border: none;
font-family:IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
cursor: pointer;

}
.join-snapp video{width: 1000px;
  border-radius: 8px;
  margin-bottom: 70px;
  margin-top: 60px;
}
/* finish join snapp p1 */
/* start join snapp p2 */
.snapp-option-b{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1300;
  gap: 25px;
  justify-content: center;
  text-align: right;
}
.options{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 485px;
  align-items: center;
  height: 200px;
  display: flex;
  padding: 30px;

}

.snapp-option-b h3{
  font-size: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 30px;
}
.snapp-option-b p{
  color: rgb(64, 64, 64);
  font-size: 17px;
  opacity: 0.8;
}
.snapp-option-b img{
  width: 120px;
}
/* finish join snap p2 */
/* start footer */
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top: 50px;  
}
.footer-s1 a{ 
  text-decoration: none;
  color: black;
  font-family:IRANSansMobile-fa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
  margin: 10px;    
}
/* finish footer 
end of the project at 9:50pm 4/6/1402 */





